@import '../helpers/mixins';
/* _buttons.scss */
.button {
  @include flex-row;
  gap: 0.56rem;
  text-decoration: none;
  padding: 0.44rem 0.94rem;
  border-radius: 0.3125rem;
  width: max-content;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -ms-border-radius: 0.3125rem;
  -o-border-radius: 0.3125rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;

  @include bp-sm {
    padding: 0.75rem 1.25rem;
    gap: 0.5rem;
  }

  &--primary {
    background-color: $col-brand;
    color: $col-white;
    box-shadow: 2px 30px 22px 5px rgba(254, 80, 0, 0.25);
    &:hover {
      box-shadow: none;
    }
    @include bp-sm {
    }
    @include bp-md {
      box-shadow: none;
      &:hover {
        box-shadow: 2px 30px 22px 5px rgba(254, 80, 0, 0.25);
      }
    }
  }
  &--secondary {
    background-color: rgba(254, 80, 0, 0.1);
    color: $col-brand;
    @include bp-md {
      &:hover {
        box-shadow: 2px 30px 22px 5px rgba(254, 80, 0, 0.25);
        background-color: $col-brand;
        color: $col-font;
      }
    }
  }

  &--slide {
    position: relative;
    width: max-content;
    color: $col-brand;
    font-size: 1rem;
    line-height: 1.625rem;
    gap: 0.62rem;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(254, 80, 0, 0.1);
      border-radius: 0.3125rem;
      -webkit-border-radius: 0.3125rem;
      -moz-border-radius: 0.3125rem;
      -ms-border-radius: 0.3125rem;
      -o-border-radius: 0.3125rem;
      transition: width 0.4s ease-in-out;
      -webkit-transition: width 0.4s ease-in-out;
      -moz-transition: width 0.4s ease-in-out;
      -ms-transition: width 0.4s ease-in-out;
      -o-transition: width 0.4s ease-in-out;

      @include bp-md {
        width: 0;
        height: 100%;
        left: 0;
      }
    }

    &:hover,
    &:focus {
      &::before {
        width: 100%;
      }
    }
  }
}

.v {
  transition: width 0.4s ease-in-out;
  -webkit-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  -ms-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
}
