.featured {
  width: 100%;

  &__section:nth-child(even) {
    width: 100%;
    background-color: #c1c4db;
  }
  &__section:nth-child(odd) {
    width: 100%;
    background-color: #b7d4df;
    // background-color: #ead2ae;
  }

  &__header {
    font-size: 1.625rem;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 4.13rem;
    @include bp-sm {
      font-size: 3.75rem;
      margin-bottom: 6.2rem;
    }
  }

  &__section {
    width: 100%;
    padding-top: 3.75rem;
    padding-bottom: 2.5rem;
    position: relative;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
      transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
      transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
      transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
      transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
      transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    @include bp-sm {
      padding-top: 5rem;
      padding-bottom: 3.75rem;
    }
    cursor: pointer;
    &-inner {
      width: 100%;
      max-width: calc(100% - 32px);
      margin: 0 auto;

      @include bp-sm {
        max-width: calc(100% - 100px);
      }
      @include bp-md {
        max-width: calc(100% - 300px);
      }
      @include bp-lg {
        max-width: calc(100% - 500px);
      }
    }

    &:hover .button--black-desktop {
      backface-visibility: hidden;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      opacity: 1;
      -webkit-backface-visibility: hidden;
    }
  }

  &__media-wrap {
    width: 100%;
    position: relative;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 0.9375rem;
    -webkit-border-radius: 0.9375rem;
    -moz-border-radius: 0.9375rem;
    -ms-border-radius: 0.9375rem;
    -o-border-radius: 0.9375rem;
  }
  &__image {
    object-fit: cover;
    height: 600px;
    @include bp-sm {
      height: 500px;
    }
  }
  &__video {
    width: 100%;
    height: 300px;
    @include bp-sm {
      height: 500px;
      object-fit: fill;
      object-position: center;
    }
  }

  &__image,
  &__video {
    border-radius: 0.9375rem;
    -webkit-border-radius: 0.9375rem;
    -moz-border-radius: 0.9375rem;
    -ms-border-radius: 0.9375rem;
    -o-border-radius: 0.9375rem;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__image-mobile {
    height: 100%;

    @include bp-sm {
      display: none;
    }
  }
  &__image-desktop {
    // display: none;
    display: block;
    height: 100%;
    // @include bp-sm {
    //   height: 500px;
    // }
  }
  &__project-name {
    color: $col-font;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    @include bp-md {
      font-size: 1.6rem;
    }
  }
  &__tags-wrap {
    @include column;
    margin-bottom: 0.63rem;

    @include bp-md {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
  &__tags {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;

    & span {
      font-size: 0.625rem;
      color: $col-font;
      line-height: 1.625rem;
      margin-inline: 0.3rem;
    }
  }
  &__stack {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    &-list {
      font-size: 0.625rem;
      color: $col-font;
      line-height: 1.625rem;
      padding: 0;

      @include bp-md {
        font-size: 0.875rem;
      }
    }
  }
  &__category {
    font-size: 0.625rem;
    color: $col-brand;
    line-height: 1.625rem;
    text-transform: capitalize;

    @include bp-md {
      font-size: 0.875rem;
    }
  }
  &__description {
    color: $col-font;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.375rem;
    @include bp-md {
      font-size: 1rem;
      line-height: 1.625rem;
    }
  }
}

.show-video .featured__image {
  opacity: 0;
}

.show-video .featured__video {
  opacity: 1;
}

.hide-video .featured__image {
  opacity: 1;
}

.hide-video .featured__video {
  opacity: 0;
}

.featured-button-desktop {
  display: none;
  @include bp-sm {
    display: flex;
  }
}
.featured-button-mobile {
  @include bp-sm {
    display: none;
  }
}
