@import '../helpers/mixins';

.hero-section {
  @include column;
  @include layout-margin;
  align-items: center;
  margin-top: 5.25rem;
  margin-bottom: 2.44rem;

  @include bp-sm {
    margin-top: 4.8rem;
    margin-bottom: 2.75rem;
    padding-bottom: 2.12rem;
  }

  @include slideContent;

  &__text {
    color: $col-font;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include bp-sm {
      font-size: 3.125rem;
    }
  }

  &__title {
    color: $col-font;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.5rem;
    text-align: center;
    margin-top: 0.88rem;
    margin-bottom: 1.25rem;
    @include bp-sm {
      margin-top: 0.81rem;
      margin-bottom: 0.33rem;
      font-size: 4.5rem;
      line-height: normal;
      max-width: 70%;
    }
  }

  &__description {
    @include flex-row;
    gap: 0.62rem;
    color: $col-font;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 5rem;
    @include bp-sm {
      font-size: 1.125rem;
      margin-bottom: 4.06rem;
    }
  }

  &__mini-description {
    color: $col-font;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @include bp-sm {
      font-size: 1.5rem;
    }
  }

  &__button-group {
    margin-top: 2rem;
    @include flex-row;
    gap: 1.25rem;
    @include bp-sm {
      margin-top: 2.5rem;
      gap: 1.8rem;
    }
  }

  &__scroll-down {
    margin-top: 3.44rem;
    width: 20px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    cursor: pointer;

    @include bp-sm {
      margin-top: 4.13rem;
    }
    @include bp-lg {
      width: auto;
      height: auto;
      padding: 1rem 0.5rem;
    }

    &__dot {
      width: 6px;
      height: 6px;
      border-radius: 100vh;
      -webkit-border-radius: 100vh;
      -moz-border-radius: 100vh;
      -ms-border-radius: 100vh;
      -o-border-radius: 100vh;
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 2px;
      animation: scroll-down 1.28s ease-out infinite;
      -webkit-animation: scroll-down 1.28s ease-out infinite;
    }
  }

  &__border {
    border-bottom: 1px solid $col-brand;
    width: 65%;
    text-align: center;
    margin-top: 4.19rem;

    @include bp-md {
      width: 45%;
      margin-top: 2.13rem;
    }
  }
}
